<!DOCTYPE html>
<html>
<head>
  <title>GenericApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>

    <%= yield %>

  </div>

  <%= include_jquery env: :production %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
